<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>HomeFixHub</title>


</head>

<body>
    <!-- MENU SUPERIOR -->
    <header>
        <div class="logo">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Logo">
            <h1>HomeFixHub</h1>
        </div>
        <nav>
            <a href="#">Solicitar Serviço</a>
            <a href="#">Log In</a>
        </nav>
    </header>

    <!-- CONTEÚDO CENTRAL -->
    <main class="container">
        <section>
            <div class="Sobre">
                <h1>Plataforma em construção</h1>
                <p>HomeFix Hub, é uma platorma do futura feita pra você hoje. <br> Aqui você encontra profissionais especializados em resolver seus problemas domésticos. <br> Não quebre a cabeça, deixe que nós cuidamos e resolvemos tudo para você.
                </p>

            </div>

    </main>

    <!-- CARDS INFERIORES -->
    <footer class="cards">
        <div class="card">
            <div class="card-icon">🔍</div>
            <h4>Procurar Serviços</h4>
            <p>Explore nossa gama de serviços para reparos domésticos e suporte técnico.</p>
        </div>
        <div class="card">
            <div class="card-icon">🧠</div>
            <h4>Efetue um Diagnóstico</h4>
            <p>Responda algumas perguntas e receba um diagnóstico instantâneo do seu problema.</p>
        </div>
        <div class="card">
            <div class="card-icon">💼</div>
            <h4>Seja um Profissional HomeFixHub</h4>
            <p>Junte-se à nossa rede de profissionais confiáveis e aumente sua renda.</p>
        </div>
    </footer>

</body>

</html>