<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Profissionais</title>
</head>

<body>

    <h2>Cadastro de Serviços</h2>
    <form method="POST">
        <input type="text" name="tipo" placeholder="Tipo de Serviço" required><br>
        <textarea name="descricao" placeholder="Descrição"></textarea><br>
        <button type="submit">Cadastrar</button>
    </form>
    <ul>
        {% for servico in servicos %}
        <li>{{ servico.tipo }} - {{ servico.descricao }} | Preço Estimado: R${{ servico.preco }}</li>
        {% endfor %}
    </ul>

</body>

</html>